[submodule "Tarea1/build/bookmedik"]
	path = Tarea1/build/bookmedik
	url = https://github.com/evilnapsis/bookmedik
[submodule "Tarea2/build/bookmedik"]
        path = Tarea2/build/bookmedik
        url = https://github.com/evilnapsis/bookmedik
